eol=lf

# Auto detect text files and perform LF normalization
* text=auto
*.txt text eol=lf 


# JS and TS files must always use LF for tools to work
*.js eol=lf
*.ts eol=lf
*.json linguist-language=JSON
