version: 2.1

orbs:
  ruby: circleci/ruby@1.0

jobs:
  build:
    working_directory: ~/corde
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          key: v1-deps-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn
      - save_cache:
          key: v1-deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: Build Project
          command: yarn build

  lint:
    working_directory: ~/corde
    docker:
      - image: circleci/node:current
    steps:
      - checkout
      - restore_cache:
          key: v1-deps-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn
      - run:
          name: lint
          command: yarn lint

  test:
    working_directory: ~/corde
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          key: v1-deps-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn
      - run:
          name: Tests
          command: yarn test-with-coverage
      - store_test_results:
          path: coverage
        # Save workspace for subsequent (test)
      - persist_to_workspace:
          root: .
          paths:
            - .

  e2e_tests:
    working_directory: ~/corde/e2e
    docker:
      - image: cimg/ruby:2.7-node
      - image: circleci/node:latest
    steps:
      - checkout:
          path: ~/corde
      - run:
          name: Install dependencies
          command: yarn
      - run:
          name: Build corde
          command: sh ./configureCorde.sh
      - run:
          name: Install cucumber Aruba
          command: bundle
      - run:
          name: Run tests
          command: bundle exec cucumber

  publish_coverage:
    working_directory: ~/corde
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          key: v1-deps-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn
      # Reuse the workspace from the build job
      - attach_workspace:
          at: .
      - run:
          name: Publish coverage
          command: yarn codecov -f coverage/*.json

  publish_website:
    working_directory: ~/corde
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run:
          name: Deploy Corde website if needed
          command: sh ./.circleci/website.sh

workflows:
  version: 2

  build-and-test:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages

      - test:
          requires:
            - build
          filters:
            branches:
              ignore: gh-pages

      - publish_coverage:
          requires:
            - test
          filters:
            branches:
              ignore: gh-pages

  website-build-deploy:
    jobs:
      - publish_website:
          filters:
            branches:
              only: master # Restrict website deploy to only master branch

  e2e-tests:
    jobs:
      - e2e_tests
